/*========================================================
          Sitewide Styles
==========================================================*/
/*multiple selector*/
* {
  padding: 0;
}

body {
  margin: 0 auto;
  background: black;
  font-family: 'Lato', sans-serif;
  color: white;
  background-image: url(../img/stars.jpg);
  background-repeat: no-repeat;
  background-size: 1500px;
  text-align: center;
  margin-top: 0;
}

/*========================================================
          Sections
========================================================*/
/*changing title style*/
h1 {
  font-size: 70px;
  color: rgba(2,200,226,0.8);
  text-shadow: 2px 2px rgba(225, 225, 225, 0.1);
  margin: 2px 0;
  font-family: "Rochester",cursive;

}

#planetSource {
  font-size: 12px;
  color: rgba(64,151,185,0.8);

}

/*Changing input box style*/
input {
  padding: 10px 1px;
  padding-right: 20px;
  margin: 0 auto;
  width: 35%;
  margin-top: 50px;
  margin-right: 6px;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;

}

/*changing button box style*/
button {
  border-style: none;
  background-color: rgba(64,151,185,0.6);
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  color: white;
  font-weight: 200;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

#warningMessage {
  margin: 20px 0;
  color: white;
  font-size: 18px;
}

/*Change the zodiac sign title color and font*/
#title {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-family: "Rochester",cursive;
  font-size: 40px;
}

#info {
  color: white;
  font-size: 20px;
  font-weight: 100;
  padding: 6px 10px;
  border-radius: 10px;
}

#planetInfo{
  margin: 0 auto;
  width: 30%;
  border-radius: 20%;
  min-width: 350px;
}

/*changing images*/
img {
  width: 200px;
  border-radius: 100%;
  margin: 10px 0;
}

p {
  padding: 10px 0;
  margin: 10px;
}
